{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' 'form.html.twig' %}

{% block title %}Append word{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('english') }}" type="button" class="btn btn-warning my-2">Вернуться назад</a>
        <div class="row justify-content-md-center">
            {{ form_start(form) }}
            <div id="accordion" class="mb-3">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Добавить из существующих
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            {{ form_row(form.word) }}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Добавить новое слово
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            {{ form_row(form.english) }}
                            {{ form_row(form.transcription) }}
                            {{ form_row(form.russian) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_row(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}