{% extends 'base.html.twig' %}

{% block title %}Check english{% endblock %}

{% block body %}
    <div class="container">
        <div><a href="{{ path('append') }}">Добавить слово</a></div>
        <div class="row justify-content-md-center">
            <div class="alert alert-success col-auto text-center w-50">{{ user.engToRus ? word.english : word.russian }}</div>
        </div>
        <div class="row justify-content-md-center">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}