{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <a
                    id="method-delete"
                    data-url="{{ path('clear') }}"
                    class="btn btn-danger"
            >
                Обнулить прогресс
            </a>
        </div>
        <div class="row">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}