<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('/build/app.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('/build/vendors~app.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>
    <body>
        {% block javascripts %}
            <script src="{{ asset('/build/runtime.js') }}" charset="utf-8"></script>
            <script src="{{ asset('/build/vendors~app.js') }}" charset="utf-8"></script>
            <script src="{{ asset('/build/app.js') }}" charset="utf-8"></script>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
