{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <style>
        .example-wrapper {margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sens-serif;}
        .example-wrapper code {background: #f5f5f5; padding: 2px 6px;}
        .error {color: red}
    </style>

    <div class="example-wrapper">
        <a href="{{ path('logout') }}">Logout</a>
        <h1>Login page!</h1>

        {% if error %}
            <span class="error">{{ error.messageKey }}</span>
        {% endif %}

        <form action="{{ path('login') }}" method="POST">
            <input type="text" name="_username" value="{{ last_username }}" placeholder="Username here...-" />
            <input type="password" name="_password" />
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}