{% extends 'client/layouts/basic.html.twig' %}
{% block content %}
    <div class="container">
        <div class="section">
            Страница не найдена
        </div>
    </div>
{% endblock content %}