{% extends 'base.html.twig' %}

{% block title %}Report english{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
{#            <button onclick="javascript:  xhr = new XMLHttpRequest(); xhr.open('POST', '/report/clear');xhr.send(null);">Proba</button>#}
            <button
                    type="button"
                    onclick="javascript:  xhr = new XMLHttpRequest(); xhr.open('DELETE', '{{ path('report_clear') }}');xhr.send(null);if(xhr.status == 0){location.href = '/';}"
            >Очистить прогресс и начать проверку заново</button>
        </div>
    </div>
{% endblock %}